
.footer-media-item {
  padding-right: 7px;
}

.footer-copyright {
  float: right;
}

a:hover {
  text-decoration: none;
}

.footer-media-item img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
