<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-4">
          <p>&copy; {{ site.time | date: '%Y' }} All rights reserved.</p>
          {% for item in site.social_media %}
              <span class="footer-media-item">
                <a href="{{ item.link }}">
                    <img src="{{ site.baseurl }}public/img/{{ item.img }}"/>
                </a>
            </span>
          {% endfor %}
      </div>
    </div>
  </div>
</footer>
